.loginnav {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.how {
  width: 274px;
  height: 23px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #02b589;
  margin-right: 40px;
}
